<form [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow p-3">
    <div class="my-2">
      <label for="email">Email</label>
      <input formControlName="email" id="email" type="email" class="form-control">
    </div>
  
    <button [disabled]="verifyEmail.invalid" class="btn-main">Verify Email</button>
  </form>
  
  <form [formGroup]="verifyCode" class="bg-main-light rounded-4 shadow p-3">
    <div class="my-2">
      <label for="resetCode">Reset Code</label>
      <input formControlName="resetCode" id="resetCode" type="text" class="form-control">
    </div>
  
    <button [disabled]="verifyCode.invalid" class="btn-main">Verify Code</button>
  </form>
  <form [formGroup]="resetPassword" class="bg-main-light rounded-4 shadow p-3">
    <div class="my-2">
      <label for="email">Email</label>
      <input formControlName="email" id="email" type="email" class="form-control">
    </div>
  
    <div class="my-2">
      <label for="newPassword">New Password</label>
      <input formControlName="newPassword" id="newPassword" type="password" class="form-control">
    </div>
  
    <button [disabled]="resetPassword.invalid" class="btn-main">Reset Password</button>
  </form>
    