<div class="container-md pt-5 flex-column mt-5">
    <button class="btn btn-danger " (click)="clearcart()">{{"cart.clear cart"| translate}}
    </button>
    <div class="row   p-2">
        @for (item of cartItems.products; track $index) {
        <div class="col-12 col-md-4 col-lg-2 text-center mb-1">
            <img [src]="item.product.imageCover" class="img-fluid" alt="{{ item.product.title }}">
        </div>
        <div class="col-12 col-md-8 col-lg-10 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title">{{ item.product.title }}</h5>
                        <i (click)="deleteProduct(item.product.id)" class="fa-solid cr fa-trash text-danger-light"></i>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p class="m-0">{{"cart.Price"| translate}}: <strong>{{ item.price | currency: "EGP "
                                    }}</strong></p>
                            <p class="m-0">{{"cart.Quantity"| translate}}: <strong>{{ item.count }}</strong></p>
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="m-0">{{"cart.Brand"| translate}}: <strong>{{ item.product.brand.name }}</strong>
                            </p>
                            <p class="m-0">{{"cart.Rating"| translate}}:
                                @for (item of [1,2,3,4,5].slice(0,item.product.ratingsAverage); track $index) {
                                <span><i class="fas fa-star rating-color"></i></span>
                                }
                                @if (item.product.ratingsAverage % 1 !== 0) {
                                <span><i class="fa-solid fa-star-half-stroke rating-color"></i></span>
                                }
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button (click)="updateProductCart(item.count - 1, item.product.id)" class="btn btn-danger w-25">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                    <button (click)="updateProductCart(item.count + 1, item.product.id)" class="btn btn-success w-25">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        }
        @empty {
            <div class="d-flex flex-column justify-content-center align-items-center  ">
                <img class="w-100 min-vw-100 p-4 opacity-50" src="../../../assets/images/freshcart-logo.svg" alt="">
                <h5 class="h1 text-success fw-bolder" >No products yet</h5>
            </div>

        }

        <div class="btn-cart d-flex justify-content-between  align-items-center mt-3 w-100 bg-body-secondary p-2">
            <p class="h3 pe-3 fw-bolder">{{"cart.Total"| translate}} : {{ cartItems.totalCartPrice| currency: 'EGP ' }}
            </p>
            <div class="w-25   d-flex justify-content-center">

                <div [routerLink]="['/order',cartItems._id]" class="button">
                    <div class="button-wrapper cr">
                        <div class="text">{{"cart.continue"| translate}}</div>
                        <span class="icon">
                            <i class="fas fs-5 fa-basket-shopping"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>