<div class="container-md pt-5 flex-column mt-5">
    <button class="btn btn-danger " (click)="clearcart()">clear cart <i
        class="fa-solid ms-1 fa-trash text-white"></i>
</button>
    <div class="row   p-2">
        @for (item of cartItems.products; track $index) {
        <div class="col-12 col-md-4 col-lg-2 text-center mb-1">
            <img [src]="item.product.imageCover" class="img-fluid" alt="{{ item.product.title }}">
        </div>
        <div class="col-12 col-md-8 col-lg-10 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title">{{ item.product.title }}</h5>
                        <i (click)="deleteProduct(item.product.id)" class="fa-solid cr fa-trash text-danger-light"></i>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p class="m-0">Price: <strong>{{ item.price | currency: "EGP  " }}</strong></p>
                            <p class="m-0">Quantity: <strong>{{ item.count }}</strong></p>
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="m-0">Brand: <strong>{{ item.product.brand.name }}</strong></p>
                            <p class="m-0">Rating:
                                @for (item of [1,2,3,4,5].slice(0,item.product.ratingsAverage); track $index) {
                                <span><i class="fas fa-star rating-color"></i></span>
                                }
                                @if (item.product.ratingsAverage % 1 !== 0) {
                                <span><i class="fa-solid fa-star-half-stroke rating-color"></i></span>
                                }
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button (click)="updateProductCart(item.count - 1, item.product.id)" class="btn btn-danger w-25">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                    <button (click)="updateProductCart(item.count + 1, item.product.id)" class="btn btn-success w-25">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        }
        @empty {
            <h1>no products</h1>
        }

        <div class="btn-cart d-flex justify-content-between align-items-center mt-3 w-100 bg-body-secondary p-2">
            <p class="h1 ps-3 fw-bolder">Total: {{ cartItems.totalCartPrice | currency: 'EGP  ' }}</p>
            <div class="w-25   d-flex justify-content-center">
                <button class="button   fw-bolder">
                    <span class="text-wrap">Checkout</span>
                    <i class="fa-solid fa-credit-card"></i></button>
            </div>
        </div>
    </div>
</div>