<div class="container-fluid mt-5 d-flex justify-content-center flex-column align-items-center">
    <h3 class="text-main fw-bolder h1 mt-3 mb-2" >{{"wishlist.Your wishlist" | translate}}</h3>
    <div class="row g-3 p-3">
        @for (product of wishListProducts(); track product.id ) {
        <div class="col-md-4 col-6">
            
            <div class="card card-animation position-relative shadow-sm cr overflow-hidden">
                <div>
                    <i (click)="removeProduct(product.id)" class="fa-solid fa-xmark whislist heart-solid "></i>
                </div>
                <div [routerLink]="['/detailes', product.id]">
                    <img [src]="product.imageCover" class="card-img-top w-100" [alt]="product.title">
                    <div class="card-body p-2">
                        <p class=" text-main m-0 fs-small">{{product.category.name}}</p>
                        <h5 class=" h5 py-1  m-0 flex-wrap fw-bold">{{product.title.split(" ",2).join(" ") }}
                        </h5>
                    </div>
                    <div class="p-2  d-flex justify-content-between ">
                        <div class="d-flex">
                            <span class="coin fw-bold">{{ "Home.EGP" | translate}}</span>
                            <p class="m-0  fs-6 fw-bold">{{product.price | currency :" "}} </p>
                        </div>
                        <p class="m-0 text-muted">{{product.ratingsAverage}} <span> <i
                                    class="fas fa-star rating-color"></i></span></p>
                    </div>
                </div>
                <div class="mx-auto btn-cart  p-1">
                    <div (click)="addProductToCart(product.id)" class="button">
                        <div class="button-wrapper">
                            <div class="text">{{"Home.add_to_cart_btn" | translate}}</div>
                            <span class="icon">
                                <i class="fas fs-5 fa-shopping-cart"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        @empty {
            <div class="d-flex flex-column justify-content-center align-items-center  ">
                <img class="w-100 min-vw-100 p-4 opacity-50" src="./assets/images/logo.webp" alt="">
                <h5 class="h1 text-success fw-bolder" >{{"wishlist.No products yet" | translate}}</h5>
            </div>
        }
    </div>
</div>