<section class="pt-3">
    <div class="cr mt-5 letter-spacing ">
        <owl-carousel-o [options]="customOptionsmain">
            <ng-template carouselSlide>
                <div class="carousel-3   ">
                    <div class="row text-center h-100  d-flex justify-content-end align-items-center p-5 text-white">
                        <div class="col-md-6  ">
                            <h1 class="fs-1 fw-bolder ">Fresh Cart</h1>
                            <p class="fs-5">
                                {{'Home.description-1' | translate}}
                            </p>
                        </div>
                    </div>

                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carousel-2 ">
                    <div class="row  text-center h-100  d-flex justify-content-end align-items-center p-5 text-white">
                        <div class="col-md-6 text-dark ">
                            <h1 class="fs-1 fw-bolder ">Fresh Cart</h1>
                            <p class="fs-5">
                                {{'Home.description-2' | translate}}
                            </p>
                        </div>
                    </div>

                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="carousel-4 ">
                    <div class="row text-center  h-100  d-flex justify-content-end align-items-center p-5 text-white">
                        <div class="col-md-6 text-dark ">
                            <h1 class="fs-1 fw-bolder ">Fresh Cart</h1>
                            <p class="fs-5">
                                {{'Home.description-3' | translate}}
                            </p>
                        </div>
                    </div>

                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="carousel-1 ">
                    <div class="row text-center h-100  d-flex justify-content-end align-items-center p-5 text-white">
                        <div class="col-md-6 text-dark ">
                            <h1 class="fs-1 fw-bolder ">Fresh Cart</h1>
                            <p class="fs-5">
                                {{'Home.description-4' | translate}}
                            </p>
                        </div>
                    </div>

                </div>
            </ng-template>



        </owl-carousel-o>
    </div>
</section>

<section class="mt-3 container-fluid">
    <h3 class="fw-bolder text-main pb-3 ">{{"Home.main_categories" | translate}}</h3>
    <owl-carousel-o [options]="customOptionscat">

        @for (category of categoryList; track category._id) {

        <ng-template carouselSlide>
            <div class="position-relative carousel">
                <img class="w-100  border-top border-bottom cr border-1 object-fit-fill" height="185px"
                    [src]="category.image" [alt]="category.name">
                <div class="carousel-context cr ">
                    <h2 class="text-center h5 text-white fw-bolder ">{{category.name}}</h2>
                </div>

            </div>

        </ng-template>
        }

    </owl-carousel-o>

</section>
<app-proudect></app-proudect>