<nav [ngClass]="{'scrolled': isScrolled}" class="navbar  nav-backgrund fixed-top navbar-expand-lg shadow-sm  ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">
            <img width="150px" loading="lazy" src="f./assets/images/freshcart-logo.jpg.webp" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link ps-1" routerLink="home"
                        routerLinkActive="active-link">{{"navbar.Home"|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ps-1" routerLink="proudect" routerLinkActive="active-link">
                        {{"navbar.Products"|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ps-1" routerLink="categories"
                        routerLinkActive="active-link">{{"navbar.Categories"|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ps-1" routerLink="brand"
                        routerLinkActive="active-link">{{"navbar.Brand"|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ps-1" routerLink="allorders"
                        routerLinkActive="active-link">{{"navbar.my orders"|translate}}</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class=" nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{"navbar.lang"|translate}}
                    </a>
                    <ul class="dropdown-menu">
                        <li [class.bg-body-tertiary]="_TranslateService.currentLang =='en' " (click)="change('en')"><a
                                class="dropdown-item cr  ">{{"navbar.en"|translate}}</a>
                        </li>
                        <li [class.bg-body-tertiary]="_TranslateService.currentLang =='ar'" (click)=" change('ar')"><a
                                class="dropdown-item cr ">{{"navbar.ar"|translate}}</a></li>
                    </ul>
                </li>
                <div class="d-flex">
                    <li class="nav-item me-2">
                        <a routerLink="wishlist" routerLinkActive="active-link"
                            class="nav-link ps-1 position-relative cr">
                            <i [ngClass]="{
                                'fa-bounce': navWishList() !== 0,
                                'text-danger': navWishList() !== 0
                              }" class="fa-solid d-flex fa-heart fs-5 ">
                                <p class="cart-heart-count">{{navWishList()}}</p>
                            </i>
                        </a>
                    </li>
                    <li class="nav-item me-2">
                        <a routerLink="cart" routerLinkActive="active-link" class="nav-link ps-1 position-relative cr">
                            <i class="fa-solid fa-cart-shopping fs-5">
                                <p class="cart-count">{{navCount()}}</p>
                            </i>

                        </a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link ps-1 cr">
                            <i class="fa-brands  fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link ps-1 cr">
                            <i class="fa-brands  fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link ps-1 cr">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link ps-1 cr">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link ps-1 cr" (click)="signOut()">{{"navbar.Sign Out"|translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>